:root {
    --white      : #E4E4E4;
    --black      : #343434;
}

body {
    --text__color: var(--black);
    --background : var(--white);
    background: var(--background);
}

body.dark {
    --text__color: var(--white);
    --background : var(--black);
    background: var(--background);
}

input[type="checkbox"] {
    display: none;
}

.switch {
    overflow: hidden;
    width: 60px;
    height: 30px;
    padding: 3px;
    border-radius: 15px;
    display: flex;
    background: var(--black);
    cursor: pointer;
}

.handle {
    position: relative;
    width: 24px;
    height: 24px;
    transition: .3s;
}

.handle::before,
.handle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.handle::before {
    background: var(--white);
}

.handle::after {
    background: var(--white);
    opacity: 0;
    translate: -7px -7px;
}


body.dark .switch {
    background: var(--white);
}

body.dark .handle {
    translate: 30px 0;
}

body.dark .handle::after {
    opacity: 1;
}

body.dark .handle::before {
    background: var(--black);
}
